on fs
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0f87
    write /sys/class/android_usb/android0/f_ffs/aliases adb
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/iManufacturer ${ro.product.manufacturer}
    write /sys/class/android_usb/android0/iProduct ${ro.product.model}
    write /sys/class/android_usb/android0/iSerial ${ro.serialno}

on boot
    write /sys/class/android_usb/android0/enable 1
    write /sys/devices/platform/android_usb/usb_function_switch 130

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0c81
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=charged
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0f0b
    write /sys/class/android_usb/android0/functions charging
    write /sys/class/android_usb/android0/enable 1
    write /sys/devices/platform/android_usb/usb_function_switch 1048576
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=charged,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0c81
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 2
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0f87
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 130
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0c02
    write /sys/class/android_usb/android0/functions ${sys.usb.config}
    write /sys/class/android_usb/android0/enable 1
    start adbd
    write /sys/devices/platform/android_usb/usb_function_switch 3
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=none
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/bDeviceClass 0

service choice_fn /sbin/choice_fn
    seclabel u:r:choice_fn:s0
    oneshot

service detect_key /sbin/detect_key
    disabled
    seclabel u:r:healthd:s0
    oneshot

service offmode_charging /sbin/offmode_charging
    disabled
    seclabel u:r:healthd:s0

